.navbar{
    display: flex;
    align-items: center;
    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        span{
            font-weight: bold;
            font-size: 20px;
        }

        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid themed("border");
            border-radius: 5px;
            padding: 5px;
            input{
                border: none;
                width: 500px;
                background-color: transparent;
                color: themed("textColor");
            }
        }
    }

    .right{
        .user{
            img{

            }

            span{

            }
        }
    }
}