$themes: (
  light: (
    textColor: #000,
    bg: white,
    logo: darkblue,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
  ),
);


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}